.postPreviewContainer {
    cursor: pointer;
    margin-top: 2rem;

    h1 {
        font-size: 1.75rem; // 28px
    }

    > p {
        color: var(--gray-50);

        font-size: 1.125rem; // 18px
        margin-top: 0.5rem; 
    }
}